body {

margin: 10px;
padding: 0;	
height: 100vh;

}
#meetupslogo {

	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 30px;

}

#particles-js

{

	height:70%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://www.netsupportsoftware.com/wp-content/uploads/2017/08/helpingothers-2.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom; 

}

h3
{


font-size: 20px;
text-align: left;
margin-left: 30px;
line-height: 3;

}

h4
{
font-size: 80px;
font-family: Lucida Console;
text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

