{% extends "navbar/navbar.html" %}

{% block content %}

<ul id="list-group">

    {% if mentors|length == 0 %}

    <p class="alert alert-warning">Sorry, no mentors matched your search</p>

    {% endif %}

    {% for mentor in mentors %}

    <li class="list-group-item">
        <h3>{{ mentor.name }}</h3>
        <p>{{ mentor.bio }}</p>

        <a href="/schedule_meetup/{{ mentor.id }}">
            <button class="btn btn-primary">Schedule a Meetup</button>
        </a>

    </li>

    {% endfor %}

</ul>


{% endblock %}
